    .body {
        width: 100%;
    }
    .grid_3_t {
        width: 100%;
    }

    .grid_7{
        width: 100%;
    }

    .grid_2_t {
        width: 50%;
    }

    .text-box_container {
        float: left;
    }