body {
    display: block;   
    width : 95%;
    margin : auto auto;
    background-color: #ddddd4;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'RobotoDraft','Helvetica Neue',Helvetica,Arial;
}

div {
    margin:0;padding:0;
}

p {
  margin:0;padding:0;
  border: 1px solid #666;
  overflow: hidden;
  text-align: center;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.gridr {
    float: right;
}
.grid {
  float: left;
}


.grid_1 {
  width: 100%;
}

header {
    display: block;
    background-color: #ffffff;
}

.grid_2 {
  width: 50%;
}

.grid_3 {
    width: 33.33%;
}

.grid_4 {
    width: 25%;
}

.grid_5 {
    width: 20%;
}

.grid_6 {
    width: 12.5%;
}

.grid_7 {
    width : 66.66%;
}

.font{
    font-family: 'RobotoDraft','Helvetica Neue',Helvetica,Arial;
    line-height: 1.3;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: .005em;
    color: #ffffff;
}

.font_c2{
    color: gray;
}

.text-box_c1 {
    background-color: #1976D2; 
}

.text-box_c2{
    background-color: #673AB7;
}

.text-box_c3 {
    background-color: #e52d27;
}

.text-box_c4{
    background-color: #f9f9f7;
}

.text-box_big {
    bottom: 5%;
    left: 5%;
    right: 0;
    height: 45%;
    width: 30%;
}

.text-box_small {
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 35%;
}

.text-box{
    position: absolute;

}

.text-box_container {
    position: relative;
}

.img_block {
    display: block;
}

.container {
    display: inline-block;
    position: relative;
    margin : auto auto;
}