body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-repeat: no-repeat;
}

.sprite {
  background: url("../public/sprite-mario.gif");
  width: 18px;
  height: 30px;
}

.sprite_inline {
  float: left;
}

.sprite_stand {
  background-position: top -60px left -4px;
}

.sprite_run {
  background-position: top -60px left -32px;
}

.sprite_walk {
  background-position: top -60px left -60px;
}

.sprite_jump {
  background-position: top -60px left -93px;
}

.sprite_fall {
  background-position: top -60px left -120px;
}

.sprite_front {
  background-position: top -60px left -148px;
}

.sprite_back {
  background-position: top -60px left -170px;
}

.sprite_down {
  background-position: top -60px left -193px;
}

.sprite_start-run {
  background-position: top -60px left -220px;
}

.sprite_stand-arms {
  background-position: top -60px left -242px;
}

.sprite_run-arms {
  background-position: top -60px left -269px;
}

.sprite_walk-arms {
  background-position: top -60px left -294px;
}

.sprite_fly-arms {
  background-position: top -60px left -319px;
}

.sprite_kick {
  background-position: top -60px left -341px;
}

.sprite_sit {
  background-position: top -60px left -365px;
}

.sprite_small {
  background-position: top -60px left -390px;
}

.sprite_look-up {
  background-position: top -60px left -410px;
}

.sprite_victory {
  background-position: top -60px left -431px;
}